{% extends "members/base_members.html" %}
{% block topbar %}
       <!-- End of Topbar -->
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

                <form id="search_form" action="" method="get" class="form-inline mr-auto w-100 navbar-search">
                {% csrf_token %}
                  <div class="input-group">
			  {{ filter.form.name_member}}
                   	 <div class="input-group-append">
			    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>


            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                    <button type="submit" form="list_form" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ">
			<i class="fas fa-download fa-sm text-white-50"></i>
                        Gerar carteirinhas
                    </button>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

{% endblock %}

{% block content %}
<h2>Membros</h2>
    <form id="list_form" action="{{ action }}" method="post">
            {% csrf_token %}
            <table class="table table-striped ">
                {% for m in filter.qs %}
                    <tr>
                        <th><label>
                            <input type="checkbox" name="ck_members"class="filled-in" type="checkbox" id="{{ m.id }}"
                                   value="{{ m.id }}"/>
                            <span> </span>
                        </label></th>
                        <th><a href="{% url 'members:detail' m.id %}"><h5>{{ m.name_member }}</h5></a></th>
                    </tr>
                {% endfor %}
            </table>
    </form>
{% endblock %}
