{% extends 'materialize/materialize_base_dev.html' %}
{% block title_content %}ccpb{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 light-blue lighten-1 ">
            <h1 class="light-blue-text text-lighten-5 center">Comunidade Cristã Parque Bristol</h1>
        </div>
        <div class="col s12 m2 l2 card-panel grey lighten-3">
            {% block sidebar %}
                <p>
	 	<a href="{% url 'members:list' %}">Membros</a>
		</p>
                <p>
                    <a href="{% url 'members:create' %}">Incluir</a>
                </p>
                <p><a href="{% url 'accounts:logout' %}">Sair</a></p>
            {% endblock %}
        </div>
        <div class="col s12 m10 l10 card-panel">
            {% block content_display %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

